{% extends 'admin_base.html.twig' %}

{% block title %}ADMIN :: Login{% endblock %}

{% block body %}
    <form method="post">
        <div style="text-align: left;">
            <h1 class="h1 mb-3 font-weight-normal">ADMIN :: Login</h1>
        </div>
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
        <br />
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}">

        <br />
        <button class="btn btn-lg btn-primary" type="submit">
            Login
        </button>
    </form>
{% endblock %}

