{% extends 'base.html.twig' %}

{% block menu %}
    <!-- Main menu -->
    <nav id="mainmenu">
        <ul>
            <li>
                <a href="{{ path('home') }}" class="active">
                    <span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Home
                </a>
            </li>
            <li>
                <a href="{{ path('notizie') }}">
                    <span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;{{ 'Notizie'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('progetti') }}">
                    <span class="glyphicon glyphicon-file"></span>&nbsp;&nbsp;{{ 'Progetti'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('chi_siamo') }}">
                    <span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ 'Chi siamo'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('servizi') }}">
                    <span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;{{ 'Servizi'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('partners') }}">
                    <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Partners
                </a>
            </li>
            <li>
                <a href="{{ path('contatti') }}">
                    <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;{{ 'Contatti'|trans }}
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div id="content">

        <div id="fullscreen-slider" class="swiper-container">
            <div class="swiper-wrapper">

                <div class="swiper-slide overlay overlay-dark-25"
                     style="background-image: url(http://www.steam.it/wp-content/uploads/ospedale-di-bergamo-10.jpg)">
                    <h1><big><b><u>MetroQuadro</u></b></big></h1>
                    <h2>housing project</h2>
                    <h3>
                        <br>Studio tecnico di ingegneria e design di edifici civili e industriali
                    </h3>

                    <h3>
                        <br/><br/><br/><br/>
                        <button class="btn btn-hero btn-lg" role="button"><a href="{{ path('progetti') }}">{{ 'Esplora i nostri progetti'|trans }}</a></button>
                    </h3>
                </div>

                <div class="swiper-slide overlay overlay-dark-50"
                     style="background-image: url(http://www.steam.it/wp-content/uploads/2015/11/port-folio-06-.jpg)">
                    <h1>Improving the present</h1>
                    <h2>Shaping the future </h2>
                    <h3>
                        <br>Progetti completi ed integrati con la più alta tecnologia
                        <br>pensati per le esigenze degli esseri umani
                    </h3>
                    <h3>
                        <ul class="socialIcons">
                            <li class="facebook"><a target="_blank" href="{{ mq_facebook }}"><i class="fa fa-fw fa-facebook"></i>Facebook</a></li>
                            <li class="twitter"><a target="_blank" href="{{ mq_twitter }}"><i class="fa fa-fw fa-twitter"></i>Twitter</a></li>
                            <li class="instagram"><a target="_blank" href="{{ mq_instagram }}"><i class="fa fa-fw fa-instagram"></i>Instagram</a></li>
                        </ul>
                    </h3>

                </div>

            </div>

        </div>

    </div>
{% endblock %}
