<form method="post" action="{{ path('settore_delete', {'id': settore.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ settore.id) }}">
    <br />
    <button class="btn btn-danger">Elimina</button>
</form>
