{% extends 'admin_base.html.twig' %}

{% block title %}ADMIN :: Modifica Settore{% endblock %}

{% block body %}
    <div style="text-align: left;">
        <h1>ADMIN :: Modifica Settore ({{ settore.name }})</h1>
    </div>

    {{ include('admin/settore/_form.html.twig', {'button_label': 'Modifica'}) }}

    <a class="btn btn-primary" href="{{ path('settore_admin_index') }}">Torna alla lista</a>

    {{ include('admin/settore/_delete_form.html.twig') }}
{% endblock %}
