{% extends 'admin_base.html.twig' %}

{% block title %}Settore index{% endblock %}

{% block body %}
    <div style="text-align: left;">
        <h1>ADMIN :: Lista Progetti</h1>
    </div>

    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
        {% for settore in settores %}
            <tr>
                <td>{{ settore.id }}</td>
                <td>{{ settore.name }}</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="{{ path('settore_admin_show', {'id': settore.id}) }}">mostra</a>
                    <a class="btn btn-warning btn-sm" href="{{ path('settore_admin_edit', {'id': settore.id}) }}">modifica</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Nessun settore trovato!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('settore_admin_new') }}">Nuovo settore</a>
{% endblock %}
