{% extends 'admin_base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Nuovo settore{% endblock %}

{% block body %}
    <div style="text-align: left;">
        <h1>ADMIN :: Nuovo settore</h1>
    </div>

    {{ include('admin/settore/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('settore_admin_index') }}">Torna alla lista</a>
{% endblock %}
