{% extends 'admin_base.html.twig' %}

{% block title %}Settore{% endblock %}

{% block body %}
    <div style="text-align: left;">
        <h1>ADMIN :: Settore ({{ settore.name }})</h1>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ settore.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ settore.name }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('settore_admin_index') }}">Torna alla lista</a>

    <a class="btn btn-warning" href="{{ path('settore_admin_edit', {'id': settore.id}) }}">Modifica</a>

    {{ include('admin/settore/_delete_form.html.twig') }}
{% endblock %}
