{% extends 'base.html.twig' %}

{% block menu %}
    <!-- Main menu -->
    <nav id="mainmenu">
        <ul>
            <li>
                <a href="{{ path('home') }}">
                    <span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Home
                </a>
            </li>
            <li>
                <a href="{{ path('notizie') }}">
                    <span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;{{ 'Notizie'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('progetti') }}">
                    <span class="glyphicon glyphicon-file"></span>&nbsp;&nbsp;{{ 'Progetti'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('chi_siamo') }}" class="active">
                    <span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ 'Chi siamo'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('servizi') }}">
                    <span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;{{ 'Servizi'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('partners') }}">
                    <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Partners
                </a>
            </li>
            <li>
                <a href="{{ path('contatti') }}">
                    <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;{{ 'Contatti'|trans }}
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div id="content">

        <div class="container-fluid">

            <div id="heading" class="row">
                <div class="col-12">

                    <header>
                        <h1>{{ 'Chi siamo'|trans }}</h1>
                    </header>

                </div>
            </div>

            <div class="row">
                <div class="main-column col-12">

                    <!-- Inner -->
                    <div class="inner">

                        <div class="row">
                            <div class="col-12">
                                {% if locale == 'EN' %}
                                    {{ descrizione|traduci|raw }}
                                {% else %}
                                    {{ descrizione|raw }}
                                {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row personal-profiles">

                {% for staff_member in staff %}
                    <article class="personal-profile col-6">
                        <div class="image" style="background-image: url({{ staff_member.image }})">
                            <div class="icons">
                                <a href="{{ staff_member.facebook|default('#') }}" class="fa fa-facebook"></a>
                                <a href="{{ staff_member.twitter|default('#') }}" class="fa fa-twitter"></a>
                                <a href="{{ staff_member.skype|default('#') }}" class="fa fa-skype"></a>
                            </div>
                        </div>
                        <div class="inner">
                            <header>
                                <h3>
                                    <address class="author fn">{{ staff_member.surname }} {{ staff_member.name }}</address>
                                </h3>
                                <h4>{{ staff_member.role }}</h4>
                            </header>
                            <p>{{ staff_member.description }}</p>
                        </div>
                    </article>
                {% endfor %}

            </div>

        </div>
    </div>
{% endblock %}