/*==========================================================*/
/* Main Elements
/*==========================================================*/
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
a {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: #00a3cc;
}
a:hover {
  color: #007a99;
  text-decoration: none;
}
img {
  max-width: 100%;
}
p,
ul,
ol,
address {
  margin: 0;
}
hr {
  border-color: #f0f0f0;
  margin: 30px 0;
}
/*==========================================================*/
/* Preloader
/*==========================================================*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e1e1e1;
  z-index: 9999;
}
#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(../img/misc/loading.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}
/*==========================================================*/
/* Typography
/*==========================================================*/
body {
  font-family: 'Muli', sans-serif;
  color: #202020;
  font-size: 16px;
  font-weight: 300;
  line-height: 180%;
  background: #000000;
}
h1,
h2,
h3,
h4,
h5,
h6,
.hfont {
  font-family: 'Raleway', sans-serif;
  color: #202020;
  font-weight: 300;
  line-height: 160%;
  margin: 0;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 28px;
}
h5 {
  font-size: 24px;
}
h6 {
  font-size: 20px;
}
address {
  line-height: 180%;
}
/*==========================================================*/
/* Helper Classes
/*==========================================================*/
.hidden {
  display: none;
}
.small {
  font-size: 80%;
}
.white,
.white > * {
  color: #FFFFFF !important;
}
.sidebar-left .main-column {
  float: right;
}
/* Overlays */
.overlay:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
}
.overlay-grid:after {
  background: url(../img/misc/overlay-grid.png);
}
.overlay-grid-2:after {
  background: url(../img/misc/overlay-grid-2.png);
}
.overlay-dark-25:after {
  background-color: rgba(0, 0, 0, 0.25);
}
.overlay-dark-50:after {
  background-color: rgba(0, 0, 0, 0.5);
}
.overlay-dark-75:after {
  background-color: rgba(0, 0, 0, 0.75);
}
.overlay-light-25:after {
  background-color: rgba(255, 255, 255, 0.25);
}
.overlay-light-50:after {
  background-color: rgba(255, 255, 255, 0.5);
}
.overlay-light-75:after {
  background-color: rgba(255, 255, 255, 0.75);
}
/* Clearfix */
.cf:before,
.cf:after {
  content: ' ';
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}
/* Responsive */
@media (max-width: 991px) {
  .sidebar-left .main-column {
    float: none;
  }
}
/*==========================================================*/
/* Header
/*==========================================================*/
#top {
  background-color: #ffffff;
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  z-index: 1;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#top.shadow {
  box-shadow: 0px 0px 20px -10px #000000;
}
.sidebar-open #top.shadow,
#top.portfolio-open {
  box-shadow: none !important;
}
/* Sidebar button */
#sidebar-button {
  width: 27px;
  height: 21px;
  background: url("../img/svg/menu-icon.svg") no-repeat;
  position: absolute;
  left: 40px;
  top: 50%;
  margin-top: -10px;
}
#sidebar-button.open {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* Logo */
#logo {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  text-transform: uppercase;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#languages {
  width: 30px;
  height: 18px;
  position: absolute;
  left: 90px;
  top: 35%;
  margin-top: -10px;
}
#logo h1 {
  letter-spacing: 5px;
  font-size: 26px;
}
#logo h2 {
  letter-spacing: 8px;
  font-size: 13px;
  opacity: 0.5;
}
/* Fullscreen slider navigation arrows */
#nav-arrows {
  width: 35px;
  height: 21px;
  position: absolute;
  right: 40px;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
#nav-arrows a {
  width: 11px;
  height: 100%;
  background-repeat: no-repeat;
}
#nav-arrows a.nav-left {
  background-image: url("../img/svg/nav-left.svg");
  margin-right: 13px;
  float: left;
}
#nav-arrows a.nav-right {
  background-image: url("../img/svg/nav-right.svg");
  float: right;
}
/* Portfolio close button */
#portfolio-close {
  width: 21px;
  height: 21px;
  background: url("../img/svg/close-icon.svg") no-repeat;
  position: absolute;
  right: 40px;
  top: -21px;
  opacity: 1;
}
.portfolio-open #portfolio-close {
  opacity: 1;
  top: 50%;
  margin-top: -10px;
}
/*==========================================================*/
/* Main wrapper
/*==========================================================*/
#main-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  padding-top: 100px;
  z-index: 0;
  position: relative;
  overflow: hidden;
}
/*==========================================================*/
/* Content
/*==========================================================*/
#content {
  position: relative;
  left: 0;
  z-index: 9999;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  background-color: #e1e1e1;
  background-size: cover;
  background-position: fixed;
  background-image: url('../img/orig.jpg');
  overflow: auto;
}
.sidebar-open #content {
  -ms-transform: translate(300px, 0);
  -webkit-transform: translate(300px, 0);
  transform: translate(300px, 0);
}
/* Main and sidebar column responsiveness */
@media (max-width: 991px) {
  .sidebar-column {
    margin-top: 40px;
  }
}
/* Content overlay */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: initial;
  transition: initial;
}
.sidebar-open #overlay {
  width: 100%;
  height: 100%;
  top: 100px;
  left: 300px;
  opacity: 1;
  z-index: 9999;
  -webkit-transition: opacity 0.5s 0.5s;
  transition: opacity 0.5s 0.5s;
}
/* Responsive */
@media (max-width: 991px) {
  .sidebar-open #content {
    -ms-transform: translate(100%, 0);
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
  .sidebar-open #overlay {
    left: 100%;
  }
}
/*==========================================================*/
/* Collapsible sidebar
/*==========================================================*/
#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 300px;
  height: 100%;
  background: #ffffff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 1;
  opacity: 1;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  padding-top: 160px;
}
.sidebar-open #sidebar {
  visibility: visible;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-speed: 0.2s;
  transition-speed: 0.2s;
}
#sidebar:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  content: '';
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.sidebar-open #sidebar:after {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}
#widgets {
  max-height: 100%;
  position: relative;
  overflow: auto;
  bottom: 60px;
}
/* Responsive */
@media (max-width: 991px) {
  #sidebar {
    width: 100%;
    background: #f2f2f2;
  }
}
/*==========================================================*/
/* Main menu
/*==========================================================*/
#mainmenu ul {
  margin: 0;
}
#mainmenu ul li a {
  padding: 0 40px;
  width: 100%;
  line-height: 60px;
  display: inline-block;
  color: #202020;
  text-decoration: none;
}
#mainmenu ul li a:hover,
#mainmenu ul li a.active {
  background: #e1e1e1;
}
#mainmenu ul li.expandable > a:after {
  content: '[+]';
  float: right;
}
#mainmenu ul li.expandable.expanded > a:after {
  content: '[-]';
}
/* Submenu */
#mainmenu ul li > ul {
  display: none;
  overflow: hidden;
  border-left: 1px solid #e1e1e1;
  margin-left: 40px;
}
#mainmenu ul li > ul li {
  position: relative;
}
#mainmenu ul li > ul li:after {
  content: '';
  position: absolute;
  top: 30px;
  left: 0;
  width: 20px;
  height: 1px;
  background: #e1e1e1;
}
#mainmenu ul li > ul li a {
  background: none !important;
}
/* Responsive */
@media (max-width: 991px) {
  #mainmenu ul li a {
    text-align: center;
  }
  #mainmenu ul li.expandable > a:after {
    float: none;
    margin-left: 5px;
  }
  #mainmenu ul li > ul {
    border-left: none;
    margin-left: 0;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
  }
  #mainmenu ul li > ul li:after {
    display: none;
  }
  #mainmenu ul li > ul li a {
    opacity: 0.5;
  }
}
/*==========================================================*/
/* Copyright
/*==========================================================*/
.copyright {
  width: 100%;
  margin: 0;
  line-height: 60px;
  position: fixed;
  bottom: 0;
  font-size: 12px;
  /* opacity: 0.5; */
  padding: 0 40px;
}
/* Responsive */
@media (max-width: 991px) {
  .copyright {
    text-align: center;
    background: #ffffff;
  }
}
/*==========================================================*/
/* Page heading
/*==========================================================*/
#heading {
  margin-top: -20px;
  margin-bottom: 60px;
  text-transform: uppercase;
}
#heading header {
  margin-bottom: 0;
}
#heading h1 {
  font-size: 68px;
  letter-spacing: 5px;
  display: inline-block;
  color: #E0E5E9;
  font-weight: bold;
}
#heading h2 {
  font-size: 16px;
  letter-spacing: 3px;
  display: inline-block;
  opacity: 0.5;
  margin-left: 10px;
  color: #202020;
}
#heading h2:before {
  content: '// ';
}
#heading h2 a {
  color: #202020;
}
#heading h2 a:hover {
  color: #00a3cc;
}
#heading h2 span:after {
  content: ' / ';
}
#heading h2 span:last-child:after {
  content: '';
}
/* Responsive */
@media (max-width: 991px) {
  #heading {
    margin-top: 20px;
  }
  #heading > div {
    margin-bottom: 0;
    text-align: center;
  }
  #heading h1 {
    display: block;
    font-size: 36px;
  }
  #heading h2 {
    display: block;
    font-size: 14px;
    margin-left: 0;
  }
  #heading h2:before {
    content: '';
  }
}
/*==========================================================*/
/* Article
/*==========================================================*/
article .image {
  width: 100%;
  padding-top: 75%;
  background-size: cover;
  background-position: center center;
}
article .image img {
  width: 100%;
}
/*==========================================================*/
/* Blog item
/*==========================================================*/
article.blog.first .image {
  padding-top: 50%;
}
article.blog.full .image {
  padding-top: 0;
}
article.blog .vcard {
  font-size: 80%;
}
article.blog .vcard * {
  display: inline;
}
/* Responsive */
@media (max-width: 991px) {
  article.blog.first .image {
    padding-top: 75%;
  }
}
/*==========================================================*/
/* Portfolio item
/*==========================================================*/
article.portfolio .image {
  display: block;
  position: relative;
}
article.portfolio .image:before {
  position: absolute;
  width: 32px;
  height: 28px;
  top: 40%;
  left: 50%;
  margin: -14px 0 0 -16px;
  background: url(../img/svg/icon-fullscreen.svg) no-repeat;
  content: '';
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
article.portfolio .image:hover:before {
  top: 50%;
  opacity: 1;
}
article.portfolio .image:after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  content: '';
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
article.portfolio .image:hover:after {
  opacity: 1;
}
article.portfolio .inner {
  padding: 20px 40px;
}
article.portfolio h3 {
  font-size: 24px;
}
@media (max-width: 991px) {
  article.portfolio .inner {
    text-align: center;
  }
}
/*==========================================================*/
/* Portfolio full
/*==========================================================*/
.portfolio-full {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 100px;
  background: #ffffff;
  z-index: 9999;
}
.portfolio-full .portfolio-description {
  float: left;
  width: 650px;
  max-height: 100%;
  padding: 40px;
  overflow: auto;
}
.portfolio-full .portfolio-description > * {
  margin-bottom: 30px;
}
.portfolio-full .portfolio-description > *:last-child {
  margin-bottom: 0;
}
.portfolio-full .swiper-container {
  overflow: hidden;
  width: auto;
}
.portfolio-full .swiper-slide {
  width: 100%;
  height: 100%;
}
/* Slide Effect */
.portfolio-full-slidedown > * {
  opacity: 0;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
}
.portfolio-full-slidedown.portfolio-open > * {
  opacity: 1;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.portfolio-full-slidedown {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
  transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}
.portfolio-full-slidedown.portfolio-open {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}
/* Responsive */
@media (max-width: 991px) {
  .portfolio-full {
    overflow-y: scroll;
  }
  .portfolio-full .portfolio-description {
    float: none;
    width: 100%;
  }
}
/*==========================================================*/
/* Personal profiles
/*==========================================================*/
.personal-profiles {
  margin-top: -40px;
}
.personal-profiles > article {
  margin-top: 40px;
}
article.personal-profile > div {
  height: 350px;
  width: 50%;
}
article.personal-profile .image {
  float: left;
  position: relative;
  padding-top: 0;
}
.personal-profiles > article.personal-profile:nth-child(4n+3) > .image,
.personal-profiles > article.personal-profile:nth-child(4n+4) > .image {
  float: right;
}
article.personal-profile .image:after {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  content: '';
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
article.personal-profile .image:hover:after {
  opacity: 1;
}
article.personal-profile .image .icons {
  position: absolute;
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 36px;
  line-height: 40px;
  top: 40%;
  left: 0;
  margin-top: -25px;
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
article.personal-profile .image:hover .icons {
  opacity: 1;
  top: 50%;
}
article.personal-profile .image .icons a {
  width: 40px;
  text-align: center;
  font-size: 36px;
  line-height: 50px;
  color: #FFFFFF;
  opacity: 0.5;
}
article.personal-profile .image .icons a:hover {
  opacity: 1;
}
article.personal-profile .inner {
  overflow-y: auto;
}
article.personal-profile .inner h4 {
  font-size: 16px;
  opacity: 0.5;
  margin-top: 10px;
}
/* Responsive */
@media (max-width: 991px) {
  article.personal-profile > div {
    height: auto;
    width: 100%;
  }
  article.personal-profile .image {
    float: none;
    padding-top: 100%;
  }
}
/*==========================================================*/
/* Servizio
/*==========================================================*/
.services {
  margin-top: -40px;
}
.services > article {
  margin-top: 40px;
  position: relative;
}
.service-box .image {
  background: #ffffff;
  position: absolute;
  width: 300px;
  padding-top: 0;
  height: 100%;
  top: 0;
}
.service-box:nth-child(2n) .image {
  right: 20px;
}
.service-box .image i {
  position: absolute;
  font-size: 96px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.service-box .inner {
  margin-left: 260px;
}
.service-box:nth-child(2n) .inner {
  margin-left: 0;
  margin-right: 260px;
  text-align: right;
}
/* Responsive */
@media (max-width: 991px) {
  .service-box .image {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 40px;
  }
  .service-box:nth-child(2n) .image {
    right: auto;
  }
  .service-box .image i {
    position: relative;
    top: 0;
    left: 0;
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .service-box .inner {
    margin: 0 !important;
    text-align: center !important;
  }
}
/*==========================================================*/
/* Comments
/*==========================================================*/
.comments {
  margin-top: 40px;
}
.comments h3 {
  color: #202020;
}
.comment-list {
  list-style: none;
}
.comment-list li {
  position: relative;
}
.comment-list li > .comment-list {
  border-left: 1px solid #c8c8c8;
}
.comment-list li > .comment-list li {
  padding-left: 10%;
}
.comment-list li > .comment-list > li:after {
  position: absolute;
  width: 5%;
  height: 1px;
  content: '';
  background: #c8c8c8;
  top: 70px;
  left: 0;
}
.comment {
  margin-top: 40px;
}
.comment .inner {
  position: relative;
}
.comment .avatar {
  width: 60px;
  float: left;
  margin-right: 40px;
}
.comment .content {
  overflow: hidden;
}
.comment .content .vcard address {
  overflow: hidden;
  color: #00a3cc;
}
.comment .content .vcard .date {
  float: right;
  margin-left: 40px;
  opacity: 0.5;
  font-size: 80%;
}
.comment .content .text {
  margin-top: 15px;
}
.comment .reply {
  position: absolute;
  right: 0;
  bottom: 0;
}
#post-comment {
  margin-top: 40px;
}
#post-comment label {
  margin-bottom: 5px;
}
@media (max-width: 991px) {
  .comment .avatar {
    width: 100%;
    float: none;
    margin-right: 0;
    text-align: center;
  }
  .comment .content .vcard {
    text-align: center;
  }
  .comment .content .vcard .date {
    float: none;
    margin-left: 0;
  }
  .comment .content .text {
    margin-top: 30px;
  }
}
/*==========================================================*/
/* Widgets
/*==========================================================*/
.widget {
  padding: 40px;
  margin-bottom: 40px;
}
.widget:last-child {
  margin-bottom: 0;
}
.widget h4 {
  margin-bottom: 30px;
}
/* Post info */
.widget-post-info address {
  line-height: inherit;
  display: inline;
}
.widget-post-info .icons a {
  display: block;
  margin-top: 10px;
  color: #202020;
  opacity: 0.75;
}
.widget-post-info .icons a:hover {
  color: #007a99;
  opacity: 1;
}
.widget-post-info .icons a i {
  margin-right: 5px;
}
.widget-post-info .icons a.liked i {
  color: #C41D0B;
}
.widget-post-info .tags {
  margin-top: -5px;
}
.widget-post-info .tags a {
  float: left;
  font-size: 80%;
  background: #00a3cc;
  color: #ffffff;
  padding: 0 10px;
  margin: 5px 5px 0 0;
}
.widget-post-info .tags a:hover {
  background: #007a99;
}
/* Categoria */
.widget ul {
  list-style: none;
}
.widget ul li {
  line-height: 60px;
  border-top: 1px solid #f0f0f0;
}
.widget ul li a {
  color: #202020;
}
.widget ul li a:hover {
  color: #007a99;
}
/* Recent posts and comments */
.widget-recent-tabs .nav-tabs {
  margin: -40px -40px 40px -40px !important;
}
.widget-recent-tabs .nav-tabs li {
  width: 50%;
  border-top: none;
}
.widget-recent-tabs .nav-tabs li a {
  margin: 0;
  background: #f0f0f0;
  text-align: center;
  padding: 30px 0;
  font-size: 24px;
  line-height: 100%;
}
.widget-recent-tabs .nav-tabs > li.active > a,
.widget-recent-tabs .nav-tabs > li.active > a:hover,
.widget-recent-tabs .nav-tabs > li.active > a:focus {
  background: #ffffff;
}
.widget-recent-tabs .nav-tabs li a i {
  opacity: 0.5;
}
.widget-recent-tabs .tab-content {
  padding: 0;
}
/*==========================================================*/
/* Swiper slider
/*==========================================================*/
.swiper-container {
  overflow: hidden;
  background: #000000;
}
.swiper-slide {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}
.swiper-slide video {
  position: absolute;
}
/* Navigation Arrows */
.swiper-container .nav-arrow {
  position: absolute;
  top: 50%;
  font-size: 24px;
  margin-top: -20px;
  color: #202020;
  width: 30px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  z-index: 2;
  color: #FFFFFF;
  background-position: center center;
  background-repeat: no-repeat;
}
.swiper-container .nav-left {
  background-image: url(../img/svg/white/nav-left.svg);
  left: 0;
}
.swiper-container .nav-right {
  background-image: url(../img/svg/white/nav-right.svg);
  right: 0;
}
/* Captions (fullscreen) */
#fullscreen-slider .swiper-slide h1 {
  width: 100%;
  padding: 0 40px;
  text-align: center;
  position: relative;
  font-size: 82px;
  line-height: 76px;
  letter-spacing: 5px;
  color: #ffffff;
  z-index: 1;
  left: 0;
  top: 30%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: opacity 1.5s linear;
  transition: opacity 1.5s linear;
  opacity: 0;
}

#fullscreen-slider .swiper-slide h2 {
  width: 100%;
  padding: 0 40px;
  text-align: center;
  position: absolute;
  font-size: 42px;
  line-height: 76px;
  letter-spacing: 5px;
  color: #ffffff;
  z-index: 1;
  left: 0;
  top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#fullscreen-slider .swiper-slide h3 {
    width: 100%;
    padding: 0 40px;
    text-align: center;
    position: absolute;
    font-size: 18px;
    line-height: 46px;
    letter-spacing: 5px;
    color: #ffffff;
    z-index: 1;
    left: 0;
    top: 50%;

}

#fullscreen-slider .swiper-slide-active h1 {
  opacity: 1;
}
/* Responsive */
@media (max-width: 991px) {
  #fullscreen-slider .swiper-slide h1 {
    font-size: 20px;
    line-height: inherit;
  }
}

/* Responsive */
@media (max-width: 991px) {
    #fullscreen-slider .swiper-slide h2 {
        top: 40%;
        font-size: 16px;
        line-height: inherit;
    }
}

/* Responsive */
@media (max-width: 991px) {
    #fullscreen-slider .swiper-slide h3 {
        top: 40%;
        font-size: 12px;
        line-height: inherit;
    }
}
/*==========================================================*/
/* Tabs
/*==========================================================*/
.nav-tabs {
  border-bottom: none;
  margin-bottom: 0 !important;
}
.nav-tabs > li {
  margin-bottom: 0;
}
.nav-tabs > li > a {
  border-radius: 0;
  border: none;
  color: #202020 !important;
}
.nav-tabs > li > a:hover,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: none;
  background: #f0f0f0;
}
.tab-content {
  padding: 15px;
}
/*==========================================================*/
/* Accordion
/*==========================================================*/
.panel {
  border-radius: 0 !important;
  box-shadow: none !important;
  border: none !important;
  background: transparent !important;
}
.panel-default > .panel-heading {
  background: #f0f0f0;
  padding: 0;
  border-radius: 0 !important;
  border: none !important;
}
.panel-default > .panel-heading a {
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  display: inline-block;
  color: #202020 !important;
}
.panel-default > .panel-heading a:after {
  content: '[-]';
  float: right;
}
.panel-default > .panel-heading a.collapsed:after {
  content: '[+]';
}
.panel-body {
  border-top: none !important;
}
/*==========================================================*/
/* Buttons
/*==========================================================*/
.btn {
  border-radius: 0;
  border: none !important;
  background: #f0f0f0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  color: #202020 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.btn:hover {
  background: #d7d7d7;
}
.btn:active,
.btn.active,
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  box-shadow: none;
  outline: none;
}
.btn i,
.btn span {
  margin-right: 12px;
}
.btn-lg i,
.btn-lg span {
  margin-right: 12px;
}
.btn-icon-only i,
.btn-icon-only span {
  margin-right: 0;
}
.btn-invert {
  background: #202020;
  color: #ffffff !important;
}
.btn-invert:hover {
  background: #060606;
}
.btn-color {
  background: #00a3cc;
  color: #ffffff !important;
}
.btn-color:hover {
  background: #007a99;
}
.input-group .form-control {
  padding: 6px 12px;
  height: 34px;
}
.input-group .btn {
  border: 1px solid transparent !important;
}
/*==========================================================*/
/* Alerts
/*==========================================================*/
.alert {
  border-radius: 0px;
  border: none;
  border-left: 2px solid;
  text-align: center;
}
.alert i {
  font-size: 24px;
  line-height: 100%;
  margin: 10px 0;
}
.alert-success {
  background: #CCFFCC;
  border-color: #73B073;
  color: #3C763D;
}
.alert-info {
  background: #B9F1FF;
  border-color: #008DB0;
  color: #00809F;
}
.alert-warning {
  background: #FFFFC4;
  border-color: #D5C975;
  color: #8A6D3B;
}
.alert-danger {
  background: #FFC1C1;
  border-color: #D87876;
  color: #A94442;
}
/*==========================================================*/
/* Icon with text
/*==========================================================*/
.icon-text {
  margin-bottom: 10px !important;
}
.icon-text:last-child {
  margin-bottom: 0 !important;
}
.icon-text i {
  float: left;
  width: 45px;
  line-height: 180%;
}
.icon-text p {
  overflow: hidden;
}
/*==========================================================*/
/* Lists
/*==========================================================*/
.default-ul {
  margin-left: 40px;
}
.fa-li {
  line-height: inherit;
  top: 0;
}
/*==========================================================*/
/* Form elements
/*==========================================================*/
label {
  font-weight: inherit;
}
label.error {
  font-size: 80%;
}
label .form-required {
  color: red;
}
.form-control {
  background: #f0f0f0;
  border: none;
  box-shadow: none !important;
  border-radius: 0;
  padding: 10px 15px;
  max-width: 100%;
  height: auto;
}
input.half {
  width: 50%;
}
/* Responsive */
@media (max-width: 991px) {
  input.half {
    width: 100%;
  }
}
/*==========================================================*/
/* Pagination
/*==========================================================*/
.pag {
  text-align: center;
  list-style: none;
  margin-top: 40px;
}
.pag li {
  display: inline-block;
}
.pag li a {
  background: #ffffff;
  color: #202020;
  padding: 8px 15px;
}
.pag li a:hover,
.pag li.active a {
  background: #00a3cc;
  color: #ffffff;
}
/*==========================================================*/
/* Map
/*==========================================================*/
iframe {
  margin-bottom: 0 !important;
  border: none !important;
  display: block;
}
/*==========================================================*/
/* Masonry
/*==========================================================*/
.masonry {
  margin-top: -40px;
}
.masonry > article {
  margin-top: 40px;
}
/* Responsive */
@media (max-width: 991px) {
  .masonry > article {
    width: 100%;
  }
}
/*==========================================================*/
/* Isotope
/*==========================================================*/
.isotope-container {
  overflow-y: scroll !important;
}
.isotope {
  margin-top: -40px;
}
.isotope > article {
  margin-top: 40px;
}
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/* Transitions */
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/* Filter dropdown list */
.filter {
  padding-right: 290px !important;
}
.filter-dropdown {
  background: #ffffff;
  width: 250px;
  height: 50px;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -25px;
  padding: 0 20px;
  text-transform: none;
  z-index: 3;
  cursor: pointer;
}
.filter-dropdown .selected {
  line-height: 50px;
  padding-right: 50px;
}
.filter-dropdown .selected span.name {
  opacity: 0.5;
}
.filter-dropdown .arrow {
  line-height: 40px;
  position: absolute;
  right: 0;
  top: 5px;
  width: 50px;
  border-left: 1px solid #f0f0f0;
  text-align: center;
}
.filter-dropdown .arrow:before {
  content: '\25BC';
  opacity: 0.5;
  font-size: 12px;
}
.filter-dropdown.open .arrow:before {
  content: '\25B2';
}
.filter-dropdown ul {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  top: 50px;
  left: 0;
  width: 100%;
  margin-top: 3px;
  opacity: 0;
  height: 0px;
  overflow: hidden;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.filter-dropdown.open ul {
  opacity: 1;
  height: auto;
}
.filter-dropdown ul li {
  line-height: 50px;
  background: #ffffff;
  width: 100%;
  padding: 0 20px;
  cursor: pointer;
}
.filter-dropdown ul li:hover {
  background: #f2f2f2;
}
/* Responsive */
@media (max-width: 991px) {
  .isotope > article {
    width: 100% !important;
  }
  .filter {
    padding-right: 20px !important;
  }
  .filter-dropdown {
    width: 100%;
    position: relative;
    right: 0;
    top: 0;
    margin-top: 40px;
    text-align: left;
  }
}
/*==========================================================*/
/* Grid system
/*==========================================================*/
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding: 40px;
}
.row {
  margin-left: -20px;
  margin-right: -20px;
}
/* Spacing */
.inner {
  padding: 40px;
  background: #ffffff;
}
.inner > * {
  margin-bottom: 30px;
}
.inner > *:last-child {
  margin-bottom: 0;
}
.inner .row {
  margin-bottom: 0 !important;
}
.inner .row > div > * {
  margin-bottom: 30px;
}
.inner .row:last-child > div:last-child > *:last-child {
  margin-bottom: 0;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  position: relative;
  min-height: 1px;
  padding-left: 20px;
  padding-right: 20px;
}
/* Responsive */
@media (min-width: 992px) {
  /* Spacing */
  .container-fluid {
    padding: 80px;
  }
  .inner .row:last-child > div > *:last-child {
    margin-bottom: 0;
  }
  /* Columns */
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    float: left;
  }
  .col-12 {
    width: 100%;
  }
  .col-11 {
    width: 91.66666667%;
  }
  .col-10 {
    width: 83.33333333%;
  }
  .col-9 {
    width: 75%;
  }
  .col-8 {
    width: 66.66666667%;
  }
  .col-7 {
    width: 58.33333333%;
  }
  .col-6 {
    width: 50%;
  }
  .col-5 {
    width: 41.66666667%;
  }
  .col-4 {
    width: 33.33333333%;
  }
  .col-3 {
    width: 25%;
  }
  .col-2 {
    width: 16.66666667%;
  }
  .col-1 {
    width: 8.33333333%;
  }
}




ul.socialIcons {
    padding: 0;
    text-align: center;
}
.socialIcons li {
    background: yellow;
    list-style: none;
    display: inline-block;
    margin: 15px;
    margin-top: 15%;
    border-radius: 2em;
    overflow:hidden;
}
.socialIcons li a {
    display: block;
    padding: .5em;
    max-width: 2.3em;
    min-width: 2.3em;
    height: 2.3em;
    white-space: nowrap;
    line-height: 1.5em;
    transition:.5s;
    text-decoration: none;
    font-family: arial;
    color: #fff;
}
.socialIcons li i {
    margin-right:.5em;
}
.socialIcons li:hover a {
    max-width:200px;
    padding-right:1em;
}
.socialIcons .facebook {
    background: #3b5998;
    box-shadow: 0 0 16px #3b5998;
}
.socialIcons .twitter {
    background: #00aced;
    box-shadow: 0 0 16px #00aced;
}
.socialIcons .instagram {
    background: #cd486b;
    box-shadow: 0 0 16px #cd486b;
}
.socialIcons .pinterest {
    background: #c92228;
    box-shadow: 0 0 16px #c92228;
}
.socialIcons .steam {
    background: #666666;
    box-shadow: 0 0 16px #666666;
}






.containerSocial {
  width: 100%;
  margin: 100px auto;
  box-sizing: border-box;
  text-align: center;
}
.containerSocial h1 {
  font-size: 48px;
  text-transform: uppercase;
}
.containerSocial ul {
  margin: 0;
  padding: 0;
}
.containerSocial ul li {
  list-style: none;
  float: left;
  width: calc(100% / 3);
  box-sizing: border-box;
}
.containerSocial ul li a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #fff;
}
.containerSocial ul li a .fa {
  font-size: 40px;
  transition: .5s;
}
.containerSocial ul li a:hover .fa {
  transform: rotateY(360deg);
}
.containerSocial ul li:nth-child(1) a {
  background: #3b5999;
}
.containerSocial ul li:nth-child(2) a {
  background: #55acee;
}
.containerSocial ul li:nth-child(3) a {
  background: #dd4b39;
}
.containerSocial ul li:nth-child(4) a {
  background: #007785;
}
.containerSocial ul li:nth-child(5) a {
  background: #00aff0;
}
.containerSocial ul li:nth-child(6) a {
  background: #e4405f;
}
.containerSocial ul li:nth-child(7) a {
  background: #cd201f;
}
.containerSocial ul li:nth-child(8) a {
  background: #bd081c;
}

@media (max-width: 992px) {
  .containerSocial h1 {font-size: 30px;}
  .containerSocial ul li {width: calc(100% / 4);}
}

@media (max-width: 768px) {
  .containerSocial {width: 100%;}
}

@media (max-width: 480px) {
  .containerSocial {margin: 20px auto;}
  .containerSocial ul li {width: calc(100% / 2);}
}
@media (max-width: 360px) {
  .containerSocial {margin: 0 auto;}
  .containerSocial ul li {width: calc(100% / 1);}
}





.serviceBox{text-align: center;margin-top: 60px;position: relative;z-index: 1; margin-bottom: 21px;}
.serviceBox .service-icon{width: 78px;height: 78px;border-radius:3px;background: #fff;margin: 0 auto;position: absolute;top: -34px;left: 0;right: 0;z-index: 1;transition: all 0.3s ease-out 0s;}
.serviceBox:hover .service-icon{transform: rotate(45deg);}
.serviceBox .service-icon span{display: inline-block;width: 60px;height: 60px;line-height: 60px;border-radius:3px;background: #727cb6;font-size: 30px;color: #fff;margin: auto;position: absolute;top: 0;left: 0;bottom: 0;right: 0;transition: all 0.3s ease-out 0s;}
.serviceBox .service-icon span i{transition: all 0.3s ease-out 0s;}
.serviceBox:hover .service-icon span i{transform: rotate(-45deg);}
.serviceBox .service-content{background: #fff;border: 1px solid #e7e7e7;border-radius: 3px;padding: 55px 15px;position: relative;}
.serviceBox .service-content:before{content: "";display: block;width: 80px;height: 80px;border: 1px solid #e7e7e7;border-radius: 3px;margin: 0 auto;position: absolute;top: -37px;left: 0;right: 0;z-index: -1;transition: all 0.3s ease-out 0s;}
.serviceBox:hover .service-content:before{transform: rotate(45deg);}
.serviceBox .title{font-size: 17px;font-weight: 500;color: #324545;text-transform: uppercase;margin: 0 0 25px 0;position: relative;transition: all 0.3s ease-out 0s;}
.serviceBox:hover .title{color: #727cb6;}
.serviceBox .description{font-size: 14px;font-weight: 500;line-height: 24px;margin-bottom: 0;}
.serviceBox .read-more{display: block;width: 40px;height: 40px;line-height: 38px;border-radius: 50%;background: #fff;border: 1px solid #e7e7e7;font-size: 14px;color: #c4c2c2;margin: 0 auto;position: absolute;bottom: -17px;left: 0; right: 0;transition: all 0.3s ease-out 0s;}
.serviceBox .read-more:hover{border: 1px solid #727cb6;color: #727cb6;text-decoration: none;}
.serviceBox.green .service-icon span{ background: #008b8b; }
.serviceBox.blue .service-icon span{ background: #3498db; }
.serviceBox.orange .service-icon span{ background: #e67e22; }
.serviceBox.grigio .service-icon span{ background: #B3B3B3; }
.serviceBox.yellow .service-icon span{ background: #FDC342; }
.serviceBox.green:hover .title{ color: #008b8b; }
.serviceBox.blue:hover .title{ color: #3498db; }
.serviceBox.orange:hover .title{ color: #e67e22; }
.serviceBox:hover .read-more{border: 1px solid #727cb6;color: #727cb6;}
.serviceBox.green:hover .read-more{border: 1px solid #008b8b;color: #008b8b;}
.serviceBox.blue:hover .read-more{border: 1px solid #3498db;color: #3498db;}
.serviceBox.orange:hover .read-more{border: 1px solid #e67e22;color: #e67e22;}


