{% extends 'admin_base.html.twig' %}

{% block title %}ADMIN :: Pannello{% endblock %}

{% block body %}
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-3">
                    <div class="card mb-3 shadow-sm">
                        <a href="{{ path('notizie_admin_index') }}">
                            <img class="card-img-top" src="https://cdn1.iconfinder.com/data/icons/luchesa-2/128/News-512.png" alt="Notizie">
                            <br />
                            <p><div style="text-align: center;"><b>Notizie</b></div></p>
                        </a>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card mb-3 shadow-sm">
                        <a href="{{ path('progetti_admin_index') }}">
                            <img class="card-img-top" src="https://cdn1.iconfinder.com/data/icons/luchesa-2/128/Archive-512.png" alt="Progetti">
                            <br />
                            <p><div style="text-align: center;"><b>Progetti</b></div></p>
                        </a>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card mb-3 shadow-sm">
                        <a href="{{ path('settore_admin_index') }}">
                            <img class="card-img-top" src="https://cdn4.iconfinder.com/data/icons/business-277/48/19_business_connection_links_sector_child_company_branch-512.png" alt="Settori">
                            <br />
                            <p><div style="text-align: center;"><b>Settori</b></div></p>
                        </a>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card mb-3 shadow-sm">
                        <a href="{{ path('partner_admin_index') }}">
                            <img class="card-img-top" src="https://cdn1.iconfinder.com/data/icons/business-and-marketing-round/64/Business_Marketing_handshake-512.png" alt="Partners">
                            <br />
                            <p><div style="text-align: center;"><b>Partners</b></div></p>
                        </a>
                    </div>
                </div>
            </div>

        </div>
{% endblock %}