{% extends 'admin_base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Modifica Progetto{% endblock %}

{% block body %}
    <div style="text-align: left;">
        <h1>ADMIN :: Modifica Progetto - (#{{ progetto.id }})</h1>
    </div>

    {{ include('admin/progetti/_form.html.twig', {'button_label': 'Modifica'}) }}

    <br />

    <a class="btn btn-primary" href="{{ path('progetti_admin_index') }}">Torna alla lista</a>

    {{ include('admin/progetti/_delete_form.html.twig') }}
{% endblock %}
