{% extends 'admin_base.html.twig' %}

{% block title %}ADMIN :: Lista Progetti{% endblock %}

{% block body %}
    <div style="text-align: left;">
        <h1>ADMIN :: Lista Progetti</h1>
    </div>

    <table class="table table-responsive table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Immagine</th>
            <th>Committenti</th>
            <th>Luogo</th>
            <th>Data</th>
            <th>Azioni</th>
        </tr>
        </thead>
        <tbody>
        {% for progetto in progettos %}
            <tr>
                <td>{{ progetto.id }}</td>
                <td>{{ progetto.name }}</td>
                <td>{{ progetto.image|ammazza_testo(30) }}</td>
                <td>{{ progetto.customer }}</td>
                <td>{{ progetto.place }}</td>
                <td>{{ progetto.date ? progetto.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{{ path('progetti_admin_show', {'id': progetto.id}) }}">mostra</a>
                    <a class="btn btn-sm btn-warning" href="{{ path('progetti_admin_edit', {'id': progetto.id}) }}">modifica</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Nessun progetto trovato!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('progetti_admin_new') }}">Nuovo progetto</a>

    <p>&nbsp;</p>

{% endblock %}
