{% extends 'admin_base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}ADMIN :: Nuovo Progetto{% endblock %}

{% block body %}
    <div style="text-align: left;">
        <h1>ADMIN :: Nuovo Progetto</h1>
    </div>

    {{ include('admin/progetti/_form.html.twig') }}

    <br />
    <a class="btn btn-primary" href="{{ path('progetti_admin_index') }}">Torna alla lista</a>
    <p>&nbsp;</p>
{% endblock %}
