{% extends 'admin_base.html.twig' %}

{% block title %}ADMIN :: Progetto {{ progetto.id }}{% endblock %}

{% block body %}
    <div style="text-align: left;">
        <h1>ADMIN :: Progetto ({{ progetto.name }})</h1>
    </div>

    <table class="table">
        <tbody>
        <tr>
            <th>ID</th>
            <td>{{ progetto.id }}</td>
        </tr>
        <tr>
            <th>Nome</th>
            <td>{{ progetto.name }}</td>
        </tr>
        <tr>
            <th>Immagine</th>
            <td><a href="{{ progetto.image }}">{{ progetto.image }}</a></td>
        </tr>
        <tr>
            <th>Committenti</th>
            <td>{{ progetto.customer }}</td>
        </tr>
        <tr>
            <th>Luogo</th>
            <td>{{ progetto.place }}</td>
        </tr>
        <tr>
            <th>Data</th>
            <td>{{ progetto.date ? progetto.date|date('Y-m-d') : '' }}</td>
        </tr>
        </tbody>
    </table>

    <br />
    <a class="btn btn-primary" href="{{ path('progetti_admin_index') }}">Torna alla lista</a>
    &nbsp;
    <a class="btn btn-warning" href="{{ path('progetti_admin_edit', {'id': progetto.id}) }}">Modifica</a>

    {{ include('admin/progetti/_delete_form.html.twig') }}
{% endblock %}
