{% extends 'base.html.twig' %}

{% block menu %}
    <!-- Main menu -->
    <nav id="mainmenu">
        <ul>
            <li>
                <a href="{{ path('home') }}">
                    <span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Home
                </a>
            </li>
            <li>
                <a href="{{ path('notizie') }}" class="active">
                    <span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;{{ 'Notizie'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('progetti') }}">
                    <span class="glyphicon glyphicon-file"></span>&nbsp;&nbsp;{{ 'Progetti'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('chi_siamo') }}">
                    <span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ 'Chi siamo'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('servizi') }}">
                    <span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;{{ 'Servizi'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('partners') }}">
                    <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Partners
                </a>
            </li>
            <li>
                <a href="{{ path('contatti') }}">
                    <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;{{ 'Contatti'|trans }}
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div id="content">

        <div class="container-fluid">

            <div id="heading" class="row">
                <div class="col-12">

                    <header>
                        <h1>{{ 'Notizie'|trans }}</h1>
                    </header>

                </div>
            </div>

            <div class="row">
                <div class="main-column col-12">

                    <div class="masonry masonry-3 row">

                        {% for notizia in notizie %}
                            <article class="blog col-4">
                                <div class="inner">
                                    <header>
                                        <h4>
                                            {% if locale == 'EN' %}
                                                {{ notizia.title|traduci }}
                                            {% else %}
                                                {{ notizia.title }}
                                            {% endif %}
                                        </h4>
                                        <div class="vcard">
                                            <div class="date"><time datetime="{{ notizia.date|date("m-d-Y") }}">{{ notizia.date|date("m/d/Y") }}</time></div>
                                        </div>
                                    </header>
                                    <p>{% if locale == 'EN' %}
                                            {{ notizia.content|traduci|ammazza_testo|raw }}
                                        {% else %}
                                            {{ notizia.content|ammazza_testo|raw }}
                                        {% endif %}.</p>
                                    <a href="{{ path('mostra_notizia', {id: notizia.id}) }}" class="read-more">{{ 'Leggi tutto'|trans }}</a>
                                </div>
                            </article>
                        {% endfor %}

                    </div>

                    <div class="pagination-row row">
                        <div class="col-12">

                            <ul class="pag">
                                {% if actualPage > 1 %}
                                    <li><a href="{{ path('notizie', {page: actualPage-1}) }}">&laquo;</a></li>
                                {% else %}
                                    <li><a href="#">&laquo;</a></li>
                                {% endif %}

                                {% for i in 1..maxPages %}
                                    <li {{ actualPage == i ? 'class="active"' }}>
                                        <a href="{{ path('notizie', {page: i}) }}">{{ i }}</a>
                                    </li>
                                {% endfor %}

                                {% if actualPage < maxPages %}
                                    <li><a href="{{ path('notizie', {page: actualPage+1}) }}">&raquo;</a></li>
                                {% else %}
                                    <li><a href="#">&raquo;</a></li>
                                {% endif %}
                            </ul>

                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
{% endblock %}