<form method="post" action="{{ path('notizie_admin_delete', {'id': articolo.id}) }}" onsubmit="return confirm('Sei proprio sicuro di volerlo eliminare?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ articolo.id) }}">
    <br />
    <button class="btn btn-danger">Elimina</button>
</form>
