{% extends 'admin_base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Modifica Articolo{% endblock %}

{% block body %}
    <div style="text-align: left;">
        <h1>ADMIN :: Modifica Notizia - (#{{ articolo.id }})</h1>
    </div>

    {{ include('admin/notizie/_form.html.twig', {'button_label': 'Modifica'}) }}

    <br />

    <a class="btn btn-primary" href="{{ path('notizie_admin_index') }}">Torna alla lista</a>

    {{ include('admin/notizie/_delete_form.html.twig') }}
{% endblock %}
