{% extends 'admin_base.html.twig' %}

{% block title %}ADMIN :: Lista Notizie{% endblock %}

{% block body %}
    <div style="text-align: left;">
        <h1>ADMIN :: Lista Notizie</h1>
    </div>

    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Titolo</th>
                <th>Immagine</th>
                <th>Data</th>
                <th>Contenuto</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
        {% for articolo in articolos %}
            <tr>
                <td>{{ articolo.id }}</td>
                <td>{{ articolo.title }}</td>
                <td>{{ articolo.image|ammazza_testo(30) }}</td>
                <td>{{ articolo.date ? articolo.date|date('Y-m-d') : '' }}</td>
                <td>{{ articolo.content|ammazza_testo }}</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{{ path('notizie_admin_show', {'id': articolo.id}) }}">mostra</a>
                    <a class="btn btn-sm btn-warning" href="{{ path('notizie_admin_edit', {'id': articolo.id}) }}">modifica</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Nessun articolo trovato!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('notizie_admin_new') }}">Nuovo articolo</a>

    <p>&nbsp;</p>

{% endblock %}
