{% extends 'admin_base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}ADMIN :: Nuova Notizia{% endblock %}

{% block body %}
    <div style="text-align: left;">
        <h1>ADMIN :: Nuova Notizia</h1>
    </div>

    {{ include('admin/notizie/_form.html.twig') }}

    <br />
    <a class="btn btn-primary" href="{{ path('notizie_admin_index') }}">Torna alla lista</a>
{% endblock %}
