{% extends 'admin_base.html.twig' %}

{% block title %}ADMIN :: Articolo {{ articolo.id }}{% endblock %}

{% block body %}
    <div style="text-align: left;">
        <h1>ADMIN :: Articolo ({{ articolo.title }})</h1>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ articolo.id }}</td>
            </tr>
            <tr>
                <th>Titolo</th>
                <td>{{ articolo.title }}</td>
            </tr>
            <tr>
                <th>Immagine</th>
                <td><a target="_blank" href="{{ articolo.image }}">{{ articolo.image }}</a></td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{{ articolo.date ? articolo.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Contenuto</th>
                <td>{{ articolo.content }}</td>
            </tr>
        </tbody>
    </table>

    <br />
    <a class="btn btn-primary" href="{{ path('notizie_admin_index') }}">Torna alla lista</a>
    &nbsp;
    <a class="btn btn-warning" href="{{ path('notizie_admin_edit', {'id': articolo.id}) }}">Modifica</a>

    {{ include('admin/notizie/_delete_form.html.twig') }}
{% endblock %}
