{% extends 'base.html.twig' %}

{% block menu %}
    <nav id="mainmenu">
        <ul>
            <li>
                <a href="{{ path('home') }}">
                    <span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Home
                </a>
            </li>
            <li>
                <a href="{{ path('notizie') }}">
                    <span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;{{ 'Notizie'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('progetti') }}" class="active">
                    <span class="glyphicon glyphicon-file"></span>&nbsp;&nbsp;{{ 'Progetti'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('chi_siamo') }}">
                    <span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ 'Chi siamo'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('servizi') }}">
                    <span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;{{ 'Servizi'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('partners') }}">
                    <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Partners
                </a>
            </li>
            <li>
                <a href="{{ path('contatti') }}">
                    <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;{{ 'Contatti'|trans }}
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block content %}

    <div id="content" class="isotope-container">

        <div class="container-fluid">

            <div id="heading" class="row">
                <div class="filter col-12">

                    <header>
                        <h1>{{ 'Progetti'|trans }}</h1>
                    </header>

                    <div class="filter-dropdown">
                        <div class="selected"><span class="name">{{ 'Settori'|trans }}:</span> <span class="val">{{ 'Mostra tutti'|trans }}</span>
                        </div>
                        <ul>
                            <li data-filter="*">{{ 'Mostra tutti'|trans }}</li>
                            {% for settore in settori %}
                                <li data-filter=".{{ settore.name }}">
                                    {% if locale == 'EN' %}
                                        {{ settore.name|traduci }}
                                    {% else %}
                                        {{ settore.name }}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="arrow"></div>
                    </div>

                </div>
            </div>

            <div class="isotope isotope-2 row">
                {% for progetto in progetti.iterator %}
                    <article class="portfolio isotope-item {{ progetto.sector.name }} design col-6">
                        <a href="#P{{ progetto.id }}" class="image"
                           style="background-image: url({{ progetto.image }})"></a>
                        <div class="inner">
                            <header>
                                <h3>{{ progetto.name }}</h3>
                            </header>
                        </div>
                    </article>
                {% endfor %}
            </div>

            <div class="pagination-row row">
                <div class="col-12">

                    <ul class="pag">
                        {% if actualPage > 1 %}
                            <li><a href="{{ path('progetti', {page: actualPage-1}) }}">&laquo;</a></li>
                        {% else %}
                            <li><a href="#">&laquo;</a></li>
                        {% endif %}

                        {% for i in 1..maxPages %}
                            <li {{ actualPage == i ? 'class="active"' }}>
                                <a href="{{ path('progetti', {page: i}) }}">{{ i }}</a>
                            </li>
                        {% endfor %}

                        {% if actualPage < maxPages %}
                            <li><a href="{{ path('progetti', {page: actualPage+1}) }}">&raquo;</a></li>
                        {% else %}
                            <li><a href="#">&raquo;</a></li>
                        {% endif %}
                    </ul>

                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block hidden_content %}

    {% for progetto in progetti %}
        <div id="P{{ progetto.id }}" class="portfolio-full portfolio-full-slidedown">

            <div class="portfolio-description">
                <h3>{{ progetto.name }}</h3>
                <p>
                    {% if locale == 'EN' %}
                        {{ progetto.content|traduci|raw }}
                    {% else %}
                        {{  progetto.content|raw }}
                    {% endif %}
                </p>
                <div class="icon-text">
                    <i class="fa fa-user"></i>
                    <p>{{ 'Committente'|trans }}: {{ progetto.customer }}</p>
                </div>
                <div class="icon-text">
                    <i class="fa fa-users"></i>
                    <p>Partners: {{ progetto.partner|join(', ') }}</p>
                </div>
                <div class="icon-text">
                    <i class="fa fa-map-marker"></i>
                    <p>{{ 'Luogo'|trans }}: {{ progetto.place }}</p>
                </div>
                <div class="icon-text">
                    <i class="fa fa-calendar-o"></i>
                    <p>{{ 'Data inizio lavori'|trans }}: {{ progetto.date|date("m/d/Y") }}</p>
                </div>
            </div>

            <div class="swiper swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background-image: url(http://www.steam.it/wp-content/uploads/trigenerazione-aeroporto-marco-polo-ve-8.jpg)"></div>
                </div>
            </div>

        </div>
    {% endfor %}
{% endblock %}

{% block hidden_closure %}
    <a href="#" id="portfolio-close"></a>
{% endblock %}