<!DOCTYPE html>
<html lang="it-IT">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Admin Panel{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

<style>
    .top-line {
        background-color: #222;
        position: relative;
        height: 60px;
    }

    .top-line .logo {
        padding-left: 25px;
        left: 0;
        display: inline-block;
        position: absolute;
        line-height: 55px;
    }

    .main-menu {
        padding: 0 130px;
        width: 100%;
        text-align: center;
    }

    .main-menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .main-menu ul li {
        display: inline-block;
    }

    .main-menu ul li.active a {
        color: #fff;
    }

    .main-menu ul li:hover a {
        color: #f5f5f5;
    }

    .main-menu ul li a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        padding: 0 15px;
        line-height: 60px;
        display: block;
        transition: color .25s ease, background-color .25s ease;
    }
    .mobile-menu-btn {
        color: #fff;
        text-align: center;
        line-height: 65px;
        font-weight: bold;
        text-transform: uppercase;
        display: none;
        white-space: nowrap;
    }

    .mobile-menu {
        display: none;
        background-color: #2a2a2a;
        border-top: #343434;
    }

    .mobile-menu .top-menu {
        display: block;
    }

    .mobile-menu .top-menu ul {
        padding: 0;
    }

    .mobile-menu .top-menu ul li {
        display: block;
        text-align: center;
    }

    .mobile-menu .top-menu ul li:hover {
        background-color: #343434;
    }

    .mobile-menu .top-menu ul li a {
        padding: 0;
        line-height: 40px;
    }

    .mobile-menu .top-menu ul li a:hover {
        text-decoration: none;
    }
    .phone {
        position: absolute;
        padding-right: 25px;
        padding-left: 10px;
        right: 0;
        color: #fff;
        line-height: 55px;
        cursor: pointer;
        transition: color .25s ease;
        font-size: 24px;
    }

    .phone i {
        padding-right: 10px;
        font-size: 20px;
    }
    @media (max-width: 576px) {
        .top-line .logo {
            padding-left: 5px;
        }

        .top-line .phone {
            display: none;
        }

        .top-line .mobile-menu-btn {
            padding-right: 5px;
            display: block;
            text-align: right;
            font-size: 20px;
            line-height: 55px;
        }

        .main-menu {
            padding: 0 30px;
        }
    }
    @media (max-width: 1200px) {
        .main-menu {
            display: none;
        }

        .mobile-menu-btn {
            display: block;
        }
    }
</style>


<header class="top-line">
    <a href="{{ path('admin_panel') }}" class="logo">
        <img style="width: 200px;" src="{{ 'img/logo.png'|res_asset }}">
    </a>
    <div class="phone">ADMIN PANEL</div>
    <div class="mobile-menu-btn"><i class="fa fa-bars"></i> Men&ugrave;&nbsp;</div>
    <nav class="main-menu top-menu">
        <ul>
            {% if is_granted(expression(
                '"ROLE_ADMIN" in roles or (not is_anonymous() and user.isSuperAdmin())'
                )) %}
                <li class="active"><a href="{{ path('admin_panel') }}">Home</a></li>
                <li><a href="{{ path('notizie_admin_index') }}">Notizie</a></li>
                <li><a href="{{ path('progetti_admin_index') }}">Progetti</a></li>
                <li><a href="{{ path('settore_admin_index') }}">Settori</a></li>
                <li><a href="{{ path('settore_admin_index') }}">Partners</a></li>
                <li><a href="{{ path('app_logout') }}"><span style="color: red; ">Logout</span></a></li>
            {% else %}
                <li class="active"><a href="{{ path('app_login') }}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

<br />

<div class="container-fluid">

    <div class="row">
        <div class="col col-12">
            {% block body %}{% endblock %}
        </div>
    </div>


</div>


{% block javascripts %}{% endblock %}
</body>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<script>
    $('.top-line').after('<div class="mobile-menu d-xl-none">');
    $('.top-menu').clone().appendTo('.mobile-menu');
    $('.mobile-menu-btn').click(function(){
        $('.mobile-menu').stop().slideToggle();
    });
</script>

</html>