<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>MetroQuadro | Housing Project</title>
    <meta name="keywords" content="MetroQuadro, Metro, Quadro">
    <meta name="description" content="MetroQuadro - Housing Project">
    <meta name="author" content="MetroQuadro">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ 'img/favicons/favicon.png'|res_asset }}">
    <link rel="apple-touch-icon" href="{{ 'img/favicons/apple-touch-icon.png'|res_asset }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ 'img/favicons/apple-touch-icon-72x72.png'|res_asset }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ 'img/favicons/apple-touch-icon-114x114.png'|res_asset }}">

    <link rel="stylesheet" href="{{ 'css/reset.css'|res_asset }}">
    <link rel="stylesheet" href="{{ 'css/bootstrap.min.css'|res_asset }}">
    <link rel="stylesheet" href="{{ 'css/font-awesome.min.css'|res_asset }}">
    <link href="http://fonts.googleapis.com/css?family=Raleway:300|Muli:300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ 'css/idangerous.swiper.css'|res_asset }}">
    <link rel="stylesheet" href="{{ 'css/style.css'|res_asset }}">

    <script type="text/javascript" charset="UTF-8"
            src="http://chs03.cookie-script.com/s/89d9a5676d680e815eb686a62d3f0eab.js"></script>

</head>

<body>

<div id="preloader">
    <div id="status"></div>
</div>

<div id="overlay"></div>

<div id="top">

    <a href="#" id="sidebar-button"></a>

    <header id="logo">
        <a href="{{ path('home') }}"><img style="width: 80%" src="{{ 'img/logo.png'|res_asset }}" alt="MetroQuadro"></a>
    </header>

    {% block hidden_closure %}{% endblock %}

    {% if navArrows is defined %}
    <nav id="nav-arrows">
        <a href="#" class="nav-left hidden"></a>
        <a href="#" class="nav-right"></a>
    </nav>
    {% endif %}

</div>

<div id="main-wrapper">

    {% block content %}{% endblock %}

    <div id="sidebar">

        <div id="widgets">
            {% block menu %}{% endblock %}
        </div>

        <footer>
            <p class="copyright">
                <a href="{{ path('home.it') }}">
                    <img src="{{ 'img/italy.png'|res_asset }}" />
                </a>
                &nbsp;&nbsp;
                <a href="{{ path('home.en') }}">
                    <img src="{{ 'img/united_kingdom.png'|res_asset }}" />
                </a>
                <br />
                All right reserved&reg;, MetroQuadro, 2018</p>
        </footer>

    </div>

    {% block hidden_content %}{% endblock %}

</div>

<script type='text/javascript' src='{{ 'js/jquery.min.js'|res_asset }}'></script>
<script type='text/javascript' src='{{ 'js/bootstrap.min.js'|res_asset }}'></script>
<script type='text/javascript' src='{{ 'js/swiper/idangerous.swiper.min.js'|res_asset }}'></script>
<script type='text/javascript' src='{{ 'js/masonry/masonry.pkgd.min.js'|res_asset }}'></script>
<script type='text/javascript' src='{{ 'js/isotope/jquery.isotope.min.js'|res_asset }}'></script>
<script type='text/javascript' src='{{ 'js/custom.js'|res_asset }}'></script>

{% block custom_js %}{% endblock %}

</body>
</html>