{% extends 'base.html.twig' %}

{% block menu %}
    <!-- Main menu -->
    <nav id="mainmenu">
        <ul>
            <li>
                <a href="{{ path('home') }}">
                    <span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Home
                </a>
            </li>
            <li>
                <a href="{{ path('notizie') }}">
                    <span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;{{ 'Notizie'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('progetti') }}">
                    <span class="glyphicon glyphicon-file"></span>&nbsp;&nbsp;{{ 'Progetti'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('chi_siamo') }}">
                    <span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ 'Chi siamo'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('servizi') }}" class="active">
                    <span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;{{ 'Servizi'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('partners') }}">
                    <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Partners
                </a>
            </li>
            <li>
                <a href="{{ path('contatti') }}">
                    <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;{{ 'Contatti'|trans }}
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div id="content">

        <div class="container-fluid">

            <div id="heading" class="row">
                <div class="col-12">

                    <header>
                        <h1>{{ 'Servizi'|trans }}</h1>
                    </header>

                </div>
            </div>

            <div class="row">
                <div class="main-column col-12">

                    <!-- Inner -->
                    <div class="inner">

                        <div class="row">
                            <div class="col-12">

                                <center>

                                    <div class="row">

                                        {% for servizio in servizi %}
                                            <div class="col-md-4 col-sm-6 col-xsx-6">
                                                <div class="serviceBox {{ servizio.color }}">
                                                    <div class="service-icon">
                                                        <span><i class="fa {{ servizio.icon }}"></i></span>
                                                    </div>
                                                    <div class="service-content">
                                                        <h3 class="title">
                                                            {% if locale == 'EN' %}
                                                                {{ servizio.name|traduci }}
                                                            {% else %}
                                                                {{  servizio.name }}
                                                            {% endif %}
                                                        </h3>
                                                        <p class="description">
                                                            {% if locale == 'EN' %}
                                                                {{ servizio.description|traduci }}
                                                            {% else %}
                                                                {{  servizio.description }}
                                                            {% endif %}
                                                        </p>
                                                        <a href="{{ path('mostra_servizio', {'page': servizio.link}) }}" class="read-more fa fa-plus" data-toggle="tooltip" title="Approfondisci"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}

                                    </div>

                                </center>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}