{% extends 'admin_base.html.twig' %}

{% block title %}ADMIN :: Modifica Partner{% endblock %}

{% block body %}
    <div style="text-align: left;">
        <h1>ADMIN :: Modifica Partner</h1>
    </div>

    {{ include('admin/partners/_form.html.twig', {'button_label': 'Modifica'}) }}

    <br />

    <a class="btn btn-primary" href="{{ path('partner_admin_index') }}">Torna alla lista</a>

    {{ include('admin/partners/_delete_form.html.twig') }}
{% endblock %}
