{% extends 'admin_base.html.twig' %}

{% block title %}Partner index{% endblock %}

{% block body %}
    <div style="text-align: left;">
        <h1>ADMIN :: Partners</h1>
    </div>

    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Immagine</th>
                <th>Descrizione</th>
                <th>Link</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            {% for partner in partners %}
                <tr>
                    <td>{{ partner.id }}</td>
                    <td>{{ partner.name }}</td>
                    <td>{{ partner.imgUrl|ammazza_testo(30) }}</td>
                    <td>{{ partner.description|ammazza_testo(30) }}</td>
                    <td>{{ partner.link }}</td>
                    <td>
                        <a class="btn btn-sm btn-primary" href="{{ path('partner_admin_show', {'id': partner.id}) }}">mostra</a>
                        <a class="btn btn-sm btn-warning" href="{{ path('partner_admin_edit', {'id': partner.id}) }}">modifica</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Nessun partner trovato!</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('partner_admin_new') }}">Nuovo partner</a>
{% endblock %}
