{% extends 'admin_base.html.twig' %}

{% block title %}Partner{% endblock %}

{% block body %}
    <div style="text-align: left;">
        <h1>ADMIN :: Partner ({{ partner.name }})</h1>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ partner.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ partner.name }}</td>
            </tr>
            <tr>
                <th>Immagine</th>
                <td><a href="{{ partner.imgUrl }}">{{ partner.imgUrl }}</a></td>
            </tr>
            <tr>
                <th>Descrizione</th>
                <td>{{ partner.description }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td><a href="{{ partner.link }}">{{ partner.link }}</a></td>
            </tr>
        </tbody>
    </table>

    <br />

    <a class="btn btn-primary" href="{{ path('partner_admin_index') }}">Torna alla lista</a>

    <a  class="btn btn-warning" href="{{ path('partner_admin_edit', {'id': partner.id}) }}">Modifica</a>

    {{ include('admin/partners/_delete_form.html.twig') }}
{% endblock %}
