{% extends 'base.html.twig' %}

{% block menu %}
    <!-- Main menu -->
    <nav id="mainmenu">
        <ul>
            <li>
                <a href="{{ path('home') }}">
                    <span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Home
                </a>
            </li>
            <li>
                <a href="{{ path('notizie') }}">
                    <span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;{{ 'Notizie'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('progetti') }}">
                    <span class="glyphicon glyphicon-file"></span>&nbsp;&nbsp;{{ 'Progetti'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('chi_siamo') }}">
                    <span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ 'Chi siamo'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('servizi') }}">
                    <span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;{{ 'Servizi'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('partners') }}" class="active">
                    <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Partners
                </a>
            </li>
            <li>
                <a href="{{ path('contatti') }}">
                    <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;{{ 'Contatti'|trans }}
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div id="content">

        <div class="container-fluid">

            <div id="heading" class="row">
                <div class="col-12">

                    <header>
                        <h1>Partners</h1>
                    </header>

                </div>
            </div>


            <div class="row">
                <div class="main-column col-12">

                    <div class="inner">

                        <div class="row">
                            <div class="col-12">

                                <center>

                                    {% for partner in partners %}
                                        <div class="col-md-4 col-sm-4">
                                            <a href="{{ partner.link }}" target="_blank">
                                                <img style="width: 380px; height: 115px;" src="{{ partner.imgUrl }}" class="thumbnail img-responsive" alt="{{ partner.name }}" />
                                            </a>
                                            <h3><a href="{{ partner.link }}" target="_blank">{{ partner.name }}</a></h3>
                                            <p>
                                                {% if locale == 'EN' %}
                                                    {{ partner.description|traduci }}
                                                {% else %}
                                                    {{ partner.description }}
                                                {% endif %}
                                            </p>
                                        </div>
                                    {% endfor %}

                                </center>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}