{% extends 'base.html.twig' %}

{% block menu %}
    <nav id="mainmenu">
        <ul>
            <li>
                <a href="{{ path('home') }}">
                    <span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Home
                </a>
            </li>
            <li>
                <a href="{{ path('notizie') }}" class="active">
                    <span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;{{ 'Notizie'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('progetti') }}">
                    <span class="glyphicon glyphicon-file"></span>&nbsp;&nbsp;{{ 'Progetti'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('chi_siamo') }}">
                    <span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ 'Chi siamo'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('servizi') }}">
                    <span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;{{ 'Servizi'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('partners') }}">
                    <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Partners
                </a>
            </li>
            <li>
                <a href="{{ path('contatti') }}">
                    <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;{{ 'Contatti'|trans }}
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div id="content">

        <div class="container-fluid">

            <div class="row">
                <div class="main-column col-12">

                    <article class="blog full">

                        {% if articolo.image is defined %}
                            <div class="image">
                                <img src="{{ articolo.image }}">
                            </div>
                        {% endif %}

                        <div class="inner">
                            <header>
                                <h3>
                                    {% if locale == 'EN' %}
                                        {{ articolo.title|traduci }}
                                    {% else %}
                                        {{ articolo.title }}
                                    {% endif %}
                                </h3>
                            </header>
                            <p>
                                {% if locale == 'EN' %}
                                    {{ articolo.content|traduci|raw }}
                                {% else %}
                                    {{ articolo.content|raw }}
                                {% endif %}
                            </p>
                        </div>

                    </article>

                </div>

            </div>

        </div>

    </div>
{% endblock %}