{% extends 'base.html.twig' %}

{% block menu %}
    <nav id="mainmenu">
        <ul>
            <li>
                <a href="{{ path('home') }}">
                    <span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Home
                </a>
            </li>
            <li>
                <a href="{{ path('notizie') }}">
                    <span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;{{ 'Notizie'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('progetti') }}">
                    <span class="glyphicon glyphicon-file"></span>&nbsp;&nbsp;{{ 'Progetti'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('chi_siamo') }}">
                    <span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ 'Chi siamo'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('servizi') }}">
                    <span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;{{ 'Servizi'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('partners') }}">
                <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Partners
                </a>
            </li>
            <li>
                <a href="{{ path('contatti') }}" class="active">
                    <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;{{ 'Contatti'|trans }}
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div id="content">

        <div class="container-fluid">

            <div id="heading" class="row">
                <div class="col-12">

                    <header>
                        <h1>{{ 'Contatti'|trans }}</h1>
                    </header>

                </div>
            </div>

            <div class="row">
                <div class="main-column col-12">

                    <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3008.9154041741126!2d15.793016315147057!3d41.04897902486861!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13384cba6a8dd8db%3A0x573062b766941e70!2sVia+Piave%2C+34%2C+85024+Lavello+PZ!5e0!3m2!1sit!2sit!4v1539935235757" style="border: 1px solid black"></iframe>

                    <div class="inner">

                        <div class="row">
                            <div class="col-8">
                                <h3>{{ 'Dove ci troviamo'|trans }}</h3>
                                <p>
                                    {% if locale == 'EN' %}
                                        {{ indicazioni_stradali|traduci|raw }}
                                    {% else %}
                                        {{ indicazioni_stradali|raw }}
                                    {% endif %}
                                </p>
                                <hr>
                                <h3>{{ 'Compila il seguente modulo per entrare in contatto con la nostra azienda'|trans }}.</h3>
                                <form id="contact-form" action="{{ path('email') }}" method="post">
                                    <div class="form-group">
                                        <label for="firstname">{{ 'Nome'|trans }} <span class="form-required" title="This field is required.">*</span></label>
                                        <input type="text" name="firstname" class="form-control half" id="firstname" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="lastname">{{ 'Cognome'|trans }} <span class="form-required" title="This field is required.">*</span></label>
                                        <input type="text" name="lastname" class="form-control half" id="lastname" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">E-mail <span class="form-required" title="This field is required.">*</span></label>
                                        <input type="email" name="email" class="form-control half" id="email" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">{{ 'Oggetto'|trans }} <span class="form-required" title="This field is required.">*</span></label>
                                        <input type="text" name="oggetto" class="form-control half" id="oggetto" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="message">{{ 'Messaggio'|trans }} <span class="form-required" title="This field is required.">*</span></label>
                                        <textarea name="message" class="form-control" rows="4" id="message" required></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-color"><i class="glyphicon glyphicon-send"></i>{{ 'Invia'|trans }}</button>
                                </form>

                                {% if email_status == 'ok' %}
                                    <p><font color="#32cd32" size="5"><b>{{ 'Messaggio inviato'|trans }}!</b></font></p>
                                {% elseif email_status == 'no' %}
                                    <p><font color="red" size="5"><b>{{ 'Messaggio non inviato'|trans }}. {{ 'Riprova'|trans }}!</b></font></p>
                                {% endif %}

                            </div>
                            <div class="col-4">
                                <h3>{{ 'Contatti'|trans }}</h3>
                                <div class="icon-text">
                                    <p><i>&nbsp;</i><b>MetroQuadro</b></p>
                                    <i class="fa fa-map-marker"></i>
                                    <p>{{ 'Via'|trans }} Piave, 34<br>Lavello (PZ) - 85024</p>
                                </div>
                                <hr />
                                {% for staff_member in staff %}
                                    <div class="icon-text">
                                        <p><i>&nbsp;</i><b>Ing. {{ staff_member.surname }} {{ staff_member.name }}</b></p>
                                        <i class="fa fa-phone"></i>
                                        <p>{{ staff_member.tel }}</p>
                                        <i class="fa fa-envelope-o"></i>
                                        <p><a href="mailto:{{ staff_member.email }}">{{ staff_member.email }}</a></p>
                                    </div>
                                    <hr />
                                {% endfor %}
                            </div>

                        </div>
                        <hr>
                        <div class="containerSocial">
                            <center>{{ 'Puoi anche trovarci sui Social Network'|trans }}...</center>
                            <br>
                            <ul>
                                <li><a href="{{ mq_facebook }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="{{ mq_twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="{{ mq_instagram }}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <div style="clear: both;"></div>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}